body, html {
    font-family: verdana, helvetica, sans-serif;
    padding: 5px;
    margin: 0;
    background-color: beige;
}
#container{
    margin-left: auto;
    margin-right: auto;
}

h1, em {
    color: #000;
}

h2, em {
    color: #000;
}
/*applies to links*/
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}
a:hover {
    color: darkslategrey;
    text-decoration: underline;
    text-emphasis:initial;
}
a:visited{
    text-emphasis: unset;
}

li{
    list-style-type: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: black;
    padding: 0px;
    margin: 30px;
}

footer {
    float: left;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: bisque;
    color: #000;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

#footer_table{
    padding: 10px;
}

header{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: bisque;
    color: #000;
}

#resume_bod{
    align-items: center;
}

.nav {
    background-color: bisque;
    list-style-type: none;
    justify-content: flex-start;
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: black;
}

.nav li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
.nav li:hover{
    background-color: blanchedalmond;
}

#background{
    width: 750px;
    height: auto;
    float: left;
}
#studies{
    width: 750px;
    height: 400px;
    float: left;
    margin-bottom: 25px;
}